@model TravelAssistant_.Models.Country

<div class="modal fade" id="details-region" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="Title">@ViewBag.PageName</h5>
            </div>
            <div class="modal-body">
                <hr />
                <form asp-action="Details">
                    <dl class="row">
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.iso_ID)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.iso_ID)</dd>
                    </dl>
                </form>
            </div>
            <div class="modal-footer">
                <div class="input-row">
                    <button type="button" class="btn btn-primary btn-endrow"
                            data-toggle="ajax-modal" data-target="#add-region" 
                            data-url="@Url.Action("Edit",new {@id = Model.iso_ID})">Редактировать</button>
                    <button class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
            
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}