@model IEnumerable<TravelAssistant_.Models.Country>
<table class="table" data-url="@Url.Action("Index")" id = "elements">
    <thead>
    <tr style="text-align: center">
        <th scope = "col">@Html.DisplayNameFor(model=>model.iso_ID)</th>
        <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
        <th></th><th></th><th scope = "col">Действия</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr style="text-align: center">
            <th scope="row">@Html.DisplayFor(modelItem => item.iso_ID)</th>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>
            <td class="text-center">
                <button type="button" class="btn btn-outline-primary btn-sm" 
                        data-toggle="ajax-modal" data-target="#add-country" data-url="@Url.Action("Edit",new {@id = item.iso_ID})">Редактировать</button>
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-outline-info btn-sm"
                        data-toggle="ajax-modal" data-target="#details-country" 
                        data-url="@Url.Action("Details",new {@id = item.iso_ID})">Подробности</button>
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-outline-danger btn-sm"
                        data-toggle="ajax-modal" data-target="#delete-country" 
                        data-url="@Url.Action("Delete",new {@id = item.iso_ID})">Удалить</button>
            </td>
        </tr>
    }
    </tbody>
</table>